<form action [formGroup]="formadduser" style= "margin-left: 270px;background-color:#999999;">
    <h4>AJOUTER DES USERS</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
      
        <div class="form-group">
          <label for="">Username</label>
          <input type="text" formControlName="username" class="form-control" placeholder="username">
        </div>
  
      </div>
      <div class="form-group col-md-6">
      
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="password">
        </div>
  
      </div>
    </div>
  
      <div class="form-group">
          <label for="">NomComplet</label>
          <input type="text" formControlName="nomcomplet" class="form-control" placeholder="nom complet">
         </div>
  
         <div class="form-group">
          <label for="">ROLE</label>
          <select class="form-control"  formControlName="role"> 
            <option  *ngFor="let role of roles" value="/api/roles/{{ role.id }}"> {{role.libelle}}</option>
          </select> 
  
          </div>
  
           <button type="submit" (click)="onAdduser()" class="btn btn-primary btn-block" style= "width: 300px;"> Enregistrer </button> 
     </form>
    