
<button type="button" class="btn btn-success" (click)="ongetRoles()">affichage role</button>
<div class="container" style="margin-left: 270px;">
    <h4>LISTE DES ROLES</h4>
               
    <table class="table table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>LIBELLE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">

            <td>{{role.id}}</td>
            <td>{{role.libelle}}</td>
        </tr>
    </tbody>
    </table>
  </div>
  
  